body{
   background-color:black;
   background: gray;
}

h1{
    color: yellow;
}

.icons{
    padding-right: 10px;
    width: 30px;
    height: 30px;
}

ul{
    list-style: none;
    margin: 25px 50px 75px 30px;
}

li.main-list{
    padding: 25px;
    border-bottom: solid 3px white;
    text-align: left;
    font-size: large;
}

#inner-link{
    text-decoration: none;
}

.whole-page{
    padding: 50px;
    text-align: center;
    background: gray;
    color: white;
}

#search{
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 15px;
}

.sideNav{
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #232323;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background: #1d1f1d;
  margin: 20px 30px;
  padding: 12px 24px;
  border-radius: 8px;
  display: flex;
  gap: 18px;
  align-items: center;

}


.not-found{
    
    text-align: center;
    margin-top: 15%;
    font-size: 30px;
}
